.button {
  width: 100%;
  background: #3c4390;
  text-decoration: none;

  color: #f5dee0;
  padding: 10px 20px 10px 20px;
  outline: none;
  border: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.secondary {
  background: #f5dee0;
  color: #3c4390;
}
