.button {
  width: 100%;
  background: var(--primary);
  text-decoration: none;

  color: var(--secondary);
  padding: 10px 20px 10px 20px;
  outline: none;
  border: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.secondary {
  background: var(--secondary);
  color: var(--primary);
}
