.userCard {
  /* background: #2c2c2c; */
  width: 200px;
  border-radius: 6px;
  /* display: flex; */
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}

.img {
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 8px;
}
